

#firstfleet .btn-default.active{
    background-color: #5bc0de;
}

#caculate_condition .btn-default.active{
    background-color: #5bc0de;
}

#target .btn-group button:first-child,#displaywindow>tbody .btn-group button:first-child{
    width: 153px;
}

th,td{
    text-align: center;
}

.table>thead>tr>th{
    vertical-align: middle;
}

#caculatewindow input{
    width: 120px;
}

#caculatewindow .btn-block{
    margin-top: 20px;
}

#caculatewindow select{
    width: 120px;
}




