@charset "UTF-8";
body {
  font-family: "微软雅黑", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", SimSun, "宋体", Heiti, "黑体", sans-serif; }

.if-need-fix {
  position: fixed; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: #787878; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #f08080; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.lh1 {
  line-height: 1; }

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none; }

.no-cursor {
  cursor: default !important; }

.custom-navbar {
  z-index: 9;
  margin-bottom: 0;
  opacity: 0.9;
  background-color: #fff;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0;
  border-width: 0 0 1px; }
  .custom-navbar .navbar-brand {
    padding: 5px; }
    .custom-navbar .navbar-brand .logo {
      max-width: 102px; }
  .custom-navbar a {
    font-size: 16px; }
    .custom-navbar a > img {
      border: 0; }
  .custom-navbar a:link {
    text-decoration: none; }

.custom-navbar-ul li {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-my {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

#fp-nav ul li a span {
  background: transparent;
  border: 2px solid #e0e0e0;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px; }

#fp-nav ul li a.active span {
  background: #e0e0e0; }

.section {
  display: none;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover;
  padding: 0;
  width: 100%; }

.first-page {
  color: #fff;
  z-index: 0;
  background-color: #000; }

.allbg {
  position: absolute;
  width: 100%;
  height: 100%; }
  .allbg .bg1, .allbg .bg2, .allbg .bg3, .allbg .bg4, .allbg .bg5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-position: center 0;
    background-size: cover !important;
    background-repeat: no-repeat;
    display: none; }
  .allbg .bg1 {
    background-image: url("../img/banner-1.jpg"); }
  .allbg .bg2 {
    background-image: url("../img/banner-2.jpg"); }
  .allbg .bg3 {
    background-image: url("../img/banner-3.jpg"); }
  .allbg .bg4 {
    background-image: url("../img/banner-4.jpg"); }
  .allbg .bg5 {
    background-image: url("../img/banner-5.jpg"); }

.first-container h4 {
  font-weight: lighter;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 30px; }
  .first-container h4 span {
    font-weight: 700; }
.first-container h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 6px;
  color: #fff; }

.hidden-xs .query-form {
  position: relative;
  margin-top: 23vh; }

.first-line {
  position: relative;
  height: 170px;
  margin-left: 20px; }
  .first-line .item {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .first-line .item:first-child {
    display: block; }

.second-page {
  background-color: #fff; }
  .second-page .three-line button {
    font-size: 19px;
    line-height: 19px;
    background-color: #f08080;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 10px 0;
    width: 230px;
    position: relative;
    top: -20px;
    transition: all .5s; }
  .second-page .fa {
    display: none;
    margin-top: 30px;
    color: #f08080; }

#second-container {
  padding-top: 28px; }

.second.title {
  margin-bottom: 14px; }
  .second.title h1 {
    font-size: 21px;
    color: #333;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 8px; }
  .second.title h3 {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1;
    margin: 0; }

.second-row {
  margin: 0 auto; }

.second.area {
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  padding: 0; }
  .second.area .img-responsive {
    width: 100%; }
  .second.area img:first-child {
    display: none; }
  .second.area img:last-child {
    display: block; }
  .second.area .txt {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; }
  .second.area h1 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial; }

.third-page, .forth-page, .fifth-page {
  cursor: pointer; }

.page-3 {
  position: relative;
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover; }
  .page-3 h1 {
    line-height: 1;
    margin: 20px 0;
    font-size: 20px; }
  .page-3 .section-bottom {
    margin-bottom: 20px; }
    .page-3 .section-bottom > div {
      z-index: 2 !important; }
    .page-3 .section-bottom .section-bottom-background {
      display: none; }
    .page-3 .section-bottom .fa {
      color: #fff;
      padding-right: 10px;
      padding-left: 10px; }
  .page-3 .content-xs {
    position: absolute;
    left: 8.3333333%;
    right: 8.3333333%;
    top: 40%;
    font-size: 13px;
    color: #fff; }
  .page-3 content-1-xs {
    top: 60%; }
  .page-3 a:hover {
    color: #f08080; }
  .page-3 .fa {
    vertical-align: middle; }

.common-footer {
  background-color: #fff;
  padding-top: 40px;
  border-top: 1px solid #ebebeb; }
  .common-footer li {
    margin-bottom: 10px;
    white-space: nowrap; }
  .common-footer .footer-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700; }
  .common-footer h6 {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #787878; }

@media only screen and (min-width: 768px) {
  .custom-navbar {
    padding-top: 15px;
    padding-bottom: 15px; }

  .allbg .bg1, .allbg .bg2, .allbg .bg3, .allbg .bg4, .allbg .bg5 {
    background-position: 86% 0; }

  .second .fa {
    display: inline-block; }

  #second-container {
    position: relative;
    padding-top: 147px;
    padding-top: 15vh;
    padding-bottom: 49px;
    padding-bottom: 5vh; }

  .second.title {
    margin-bottom: 40px; }
    .second.title h1 {
      font-size: 40px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .second.title h3 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 24px; }

  .second-row {
    margin: 0 50px;
    overflow: hidden; }

  .second.area {
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px; }
    .second.area img:first-child {
      display: block; }
    .second.area img:last-child {
      display: none; }
    .second.area .txt {
      top: 36%;
      bottom: initial; }

  .second-page .three-line {
    margin-top: 5vh;
    margin-bottom: 20px; }
    .second-page .three-line button {
      margin-top: 5vh;
      width: 320px;
      height: 62px;
      border: 1px solid #f08080;
      background-color: #fff;
      color: #f08080;
      font-size: 26px;
      line-height: 26px;
      border-radius: 6px;
      position: static; }

  .web-lazy-index .third-page {
    background-image: url("../img/bg-third.jpg"); }
  .web-lazy-index .fourth-page {
    background-image: url("../img/bg-fourth.jpg"); }
  .web-lazy-index .fifth-page {
    background-image: url("../img/bg-fifth.jpg"); }

  .page-3 h1 {
    font-size: 40px;
    margin-bottom: 20px;
    white-space: nowrap;
    color: #fff; }
    .page-3 h1 span {
      font-weight: lighter; }
  .page-3 h5 {
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    color: #fff; }
  .page-3 h6 {
    margin-top: 35px;
    font-size: 18px;
    color: #fff; }
    .page-3 h6 a {
      color: #fff;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: initial;
      transition-delay: initial; }
  .page-3 .section-bottom {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #fff;
    font-size: 20px; }
    .page-3 .section-bottom .border-lr {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
  .page-3 .content {
    margin-top: 30vh; }
  .page-3 .img {
    display: none; }
  .page-3 .text-right {
    padding-right: 40px; } }
@media only screen and (min-width: 992px) {
  .second.area h1 {
    font-size: 20px; } }
@media only screen and (min-width: 1200px) {
  .container-my {
    width: 1200px; }

  .second.area h1 {
    font-size: 26px; } }

/*# sourceMappingURL=main.css.map */
