//media

@mixin min-screen($res) {
  @media only screen and (min-width: $res) {
    @content
  }
}

@mixin max-screen($res) {
  @media only screen and (max-width: $res) {
    @content
  }
}

@include min-screen(768px) {
  .custom-navbar {
    @include vertical-center(15px);
  }
  .carousel-indicators {
    bottom: 20px;
  }
  .row.wrapper {
    .carousel-inner {
      height: 343px;
    }
  }
  .info-content {
    img {
      margin-top: 60px;
    }
  }
}

@include min-screen(1200px) {
  .container-my {
    width: 1200px;
  }
}

@include max-screen(960px) {
  .custom-navbar-ul li {
    @include horizontal-center(auto, 8px);
  }
  .site-footer {
    h4 {
      margin-top: 20px;
    }
  }
}

@include max-screen(860px) {
  .custom-navbar-ul li {
    @include horizontal-center(auto, 4px);
  }
}

@include max-screen(800px) {
  .custom-navbar-ul li {
    @include horizontal-center(auto, 0px);
  }
}