.custom-navbar {
  z-index: 9;
  margin-bottom: 0;
  opacity: 0.9;
  background-color: $backgroud-color;
  width: 100%;
  @include vertical-center(8px);
  @include border;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  .navbar-brand{
    padding: 5px;
    .logo{
      max-width: 102px;
    }
  }
  a{
    font-size: 16px;
    >img{
      border: 0;
      width: 40px;
      height: 40px;

    }
  }
  span{
    display: inline-block;
    h2,h4,h5{
      display: inline-block;
    }
  }
}

.custom-navbar-ul {
  display: inline-block;
  li{
    @include horizontal-center(auto,15px);
    a.active,a:hover{
      color: $logo-color!important;
    }
  }
}

.container-my {
  @include horizontal-center($horizontal-padding: 15px)
}









