//set the variable
$font-family: "微软雅黑", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", SimSun, "宋体", Heiti, "黑体", sans-serif;
$border-color: #e7e7e7;
$logo-color: #f7b62b;
$backgroud-color: #fff;

//mixin style
@mixin vertical-center($vertical-padding:8px) {
  padding: {
    top: $vertical-padding;
    bottom: $vertical-padding;
  }
}

@mixin horizontal-center($horizontal-margin:auto,$horizontal-padding:15px) {
  margin: {
    left: $horizontal-margin;
    right: $horizontal-margin;
  }
  padding: {
    left: $horizontal-padding;
    right: $horizontal-padding;
  }
}

@mixin border($border-radius:0,$border-width:0 0 1px) {
  border: {
    radius: $border-radius;
    width: $border-width;
  }
}

@mixin transition-all($durantion-time:0s) {
  transition: {
    property: all;
    duration: $durantion-time;
    timing-function: initial;
    delay: initial;
  }
}

body {
  font-family: $font-family;
}

.if-need-fix {
  position: fixed;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: #787878;
  :link,:visited,:hover{
    text-decoration: none;
  }
  :hover{
    color: #a94442;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.lh1 {
  line-height: 1;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.no-cursor {
  cursor: default !important;
}

@import "nav";
@import "content";
@import "media";
