// upper layer

.section {
  display: none;
  position: relative;
  overflow: hidden;
  background: {
    repeat: no-repeat;
    position: 30%;
    size: cover;
  }
  padding: 0;
  width: 100%;
}

// first-page

.first-page {
  color: #fff;
  z-index: 0;
  background-color: #000;
}

.allbg {
  position: absolute;
  width: 100%;
  height: 100%;
  .bg1, .bg2, .bg3, .bg4, .bg5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: {
      color: #fff;
      position: center 0;
      size: cover !important;
      repeat: no-repeat;
    }
    display: none;
  }
  .bg1 {
    background-image: url("../img/banner-1.jpg");
  }
  .bg2 {
    background-image: url("../img/banner-2.jpg");
  }
  .bg3 {
    background-image: url("../img/banner-3.jpg");
  }
  .bg4 {
    background-image: url("../img/banner-4.jpg");
  }
  .bg5 {
    background-image: url("../img/banner-5.jpg");
  }
}

.first-container {
  h4 {
    font: {
      weight: lighter;
      size: 2em;
    }
    line-height: 1;
    margin-bottom: 30px;
    span {
      font-weight: 700;
    }
  }
  h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 6px;
    color: #fff;
  }
}

.hidden-xs .query-form {
  position: relative;
  margin-top: 23vh;
}

.first-line {
  position: relative;
  height: 170px;
  margin-left: 20px;
  .item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .item:first-child {
    display: block;
  }
}

// second-page

.second-page {
  background-color: #fff;
  .three-line button {
    font-size: 19px;
    line-height: 19px;
    background-color: #f08080;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 10px 0;
    width: 230px;
    position: relative;
    top: -20px;
    transition: all .5s;
  }
  .fa{
    display: none;
    margin-top: 30px;
    color:#f08080;
  }
}

#second-container {
  padding-top: 28px;
}

.second.title {
  margin-bottom: 14px;
  h1 {
    font-size: 21px;
    color: #333;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 8px;
  }
  h3 {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }
}

.second-row {
  margin: 0 auto;
}

.second.area {
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  padding: 0;
  .img-responsive {
    width: 100%;
  }
  img:first-child {
    display: none;
  }
  img:last-child {
    display: block;
  }
  .txt {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
  }
  h1 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    @include transition-all(0.5s);
  }
}

// last-three-page

.third-page, .forth-page, .fifth-page {
  cursor: pointer;
}

.page-3 {
  position: relative;
  background: {
    repeat: no-repeat;
    position: 30%;
    size: cover;
  }
  h1 {
    line-height: 1;
    margin: 20px 0;
    font-size: 20px;
  }
  .section-bottom {
    margin-bottom: 20px;
    > div {
      z-index: 2 !important;
    }
    .section-bottom-background {
      display: none;
    }
    .fa{
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .content-xs {
    position: absolute;
    left: 8.3333333%;
    right: 8.3333333%;
    top: 40%;
    font-size: 13px;
    color: #fff;
  }
  content-1-xs {
    top: 60%;
  }
  a:hover{
    color: #f08080;
  }
  .fa{
    vertical-align: middle;
  }
}

// fp-footer

.common-footer{
  background-color: #fff;
  padding-top: 40px;
  border-top: 1px solid #ebebeb;
  li{
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .footer-title{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  h6{
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #787878;
  }
}


