

//real css
.custom-navbar {
  z-index: 9;
  margin-bottom: 0;
  opacity: 0.9;
  background-color: $backgroud-color;
  width: 100%;
  @include vertical-center(8px);
  @include border;
  .navbar-brand{
    padding: 5px;
    .logo{
      max-width: 102px;
    }
  }
  a{
    font-size: 16px;
    >img{
      border: 0;
    }
  }
  a:link{
    text-decoration: none;
  }
}

.custom-navbar-ul li{
  @include horizontal-center(auto,15px);
}

.container-my {
  @include horizontal-center($horizontal-padding: 15px)
}

#fp-nav ul li a span{
  background: transparent;
  border: 2px solid #e0e0e0;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
}

#fp-nav ul li a.active span {
    background: #e0e0e0
}

//media actual-style







